:root{
    --white: hsl(0, 0%, 100%);
}

.container{
    margin-top:2.5rem;
    margin-left:17rem;
    background-image: url("C:\Users\mriga\Frontend stuff\React\Interactive-Card-Details-Form\images\bg-card-back.png");
    background-size:100% 100%;
    width:28rem;
    height:17rem;
    padding:1rem;
    position:absolute;
}

.cvc{
    margin-top:6.8rem;
    margin-left:auto;
    position:absolute;
    right:3.5rem;
    font-size:0.9rem;
    letter-spacing:0.1rem;
    color: var(--white);
}

@media only screen and (max-width: 412px){
    .container{
        position:absolute;
        margin-top:-2.5rem;
        margin-left:10rem;
        margin-bottom:0;
    }
}